{% extends 'base/base.html' %}
{% block title %}
    登录页面
{% endblock %}
{% block link %}
     <link rel="stylesheet" href="../../static/css/authPro/auth.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1827494_x6h5wkip53.css">
{% endblock %}
{% block main  %}
    <!-- container start -->
<main id="container">
  <div class="login-contain">
    <div class="top-contain">
      <h4 class="please-login">请登录</h4>
      <a href="{% url 'users:register' %}" class="register">立即注册 &gt;</a>
    </div>
    <form action="" method="post" class="form-contain">
      <div class="form-item">
           {% csrf_token %}
        <input type="tel" placeholder="Username or email Mobile" name="telephone" class="form-control" autocomplete="off">
      </div>
      <div class="form-item">
        <input type="password" placeholder="Password" name="password" class="form-control">
      </div>
      <div class="form-item clearfix">
        <label>
          <input type="checkbox" name="remember">
          <span>记住我</span>
        </label>
        <a href="javascript:void(0);" class="forget-password">忘记密码?</a>
      </div>
      <div class="form-login">
        <input type="submit" value="登录" class="login-btn">
      </div>
        <div class  ='qq' style="margin-top: 8px ;color:deepskyblue">
            <i class="iconfont icon-QQ icon-qq" style="font-size: 25px;"></i>
            <a href="{% url 'qauth:qq_login' %}"  class="qq_login" style="font-size: 18px">QQ</a>
        </div>
    </form>
  </div>
</main>
<!-- container end -->

<!-- container end -->
{% endblock %}
{% block script %}
    <script src="../../static/js/user/login.js"></script>
{% endblock %}




